{% extends 'base.html' %}
<head>
    <title> {% block title %}Password updated{% endblock %}</title>
    {% load static %}
    {% block link%}
    <!-- <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% endblock %}
</head>
{% block content %}
<h3>Password Reset Complete</h3>
<p>Your password has been reset.You may go ahead and login now.</p>
<a href="{% url 'file:login_url' %}" style="text-decoration:none;">Login</a>
{% endblock %}