{% extends 'base.html' %}
<head>
    <title> {% block title %}Password Reset{% endblock %}</title>
    {% load static %}
    {% block link%}
    <!-- <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% endblock %}
</head>
{% block content %}
<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">
	{% csrf_token %}
	{{form}}
	<input type="Submit" name="Update Password">
</form>
{% endblock %}
